<div class="app-container" id="invoice-container">
  <div class="invoice-header">
    <div class="invoice-title">
      <span>Invoice </span>
      <span class="invoice-id">#{{invoiceId}}</span>
    </div>
  </div>

  <div class="seller-buyer-info-section">
    <div class="section">
      <div class="title">Seller</div>
      <p class="name" contenteditable="true" placeholder="Seller name"></p>
      <p class="address" contenteditable="true" placeholder="Address"></p>
      <p class="phone-number" contenteditable="true" placeholder="Phone number"></p>
    </div>
    <div class="section">
      <div class="title">Buyer</div>
      <p class="name" contenteditable="true" placeholder="Buyer name"></p>
      <p class="address" contenteditable="true" placeholder="Address"></p>
      <p class="phone-number" contenteditable="true" placeholder="Phone number"></p>
    </div>
  </div>

  <div class="product-info-section">
    <div class="table-row header">
      <span>S. No.</span>
      <span>Product</span>
      <span>Quantity</span>
      <span>Amount</span>
    </div>
    <div class="table-row" *ngFor="let _ of arrayGenerator(productsCount); let index = index">
      <span>{{index + 1}}</span>
      <span contenteditable="true" placeholder="Product"></span>
      <span contenteditable="true" placeholder="Quantity"></span>
      <span contenteditable="true" placeholder="Amount"></span>
    </div>
    <span class="plus-btn" (click)="productsCount = productsCount + 1">+</span>
  </div>

  <div class="submit-btn" (click)="printInvoice()">Submit</div>
</div>
